{% extends "base_generic.html" %}

{% block content %}
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
  <div class="wrapper">
    <div id="chart_container" class=one ></div>
    <div id="chart_container1" class=two ></div>
    <div id="chart_container2" class=three></div>
  </div>

</body>
<!--javascript for charts
-->
<script>
$(function () {
  var chartData = {{months}}
  // {% for race in all_races %}
  // chartData.push({{race.distance}})
  // {% endfor %}
$('#chart_container').highcharts({
  chart: {
  type: 'areaspline'
  },
  title: {
    text: 'Race Frequency'
  },
  xAxis: {
    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  },
  yAxis: {
  title: {
    text: 'races'
  }
},
series: [{
  data: chartData
  }
]
  });
});
$(function () {
  var chartData = {{distance_climb}}
$('#chart_container1').highcharts({

  chart: {
  type: 'scatter'
  },
  title: {
    text: 'Distance / Climb'
  },
  xAxis: {
  title: {
    text: 'climb'
  }

  },
  yAxis: {
  title: {
    text: 'distance'
  }
},
series: [{

  data: chartData
  }
]
  });
});
$(function () {
$('#chart_container2').highcharts({
  chart: {
  type: 'pie'
  },
  title: {
    text: 'Race Frequency'
  },
  xAxis: {
    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  },
  yAxis: {
  title: {
    text: 'races'
  }
},
series: [{

  data: [5, 2, 4, 6, 7, 2, 4, 6, 12, 2, 4, 5]
  }
  // ,
  // {
  // name: 'King',
  // data: [5, 7, 3]
  // }
]
  });
});
</script>
</body>
</html>


{% endblock %}
