{% extends "base_generic.html" %}

{% block content %}
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
  <div class="wrapper">
    <div id="chart_container" class=one ></div>
    <div id="chart_container1" class=two ></div>
    <div id="chart_container2" class=three></div>
  </div>

</body>
<!--javascript for charts
-->
<script>
$(function () {
  var chartData = {{months}}
  // {% for race in all_races %}
  // chartData.push({{race.distance}})
  // {% endfor %}
$('#chart_container').highcharts({
  chart: {
  type: 'areaspline'
  },
  title: {
    text: 'Race Frequency'
  },
  xAxis: {
    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  },
  yAxis: {
  title: {
    text: 'Races'
  }
},
series: [{
  data: chartData
  }
]
  });
});
$(function () {
  var chartData = {{distance_climb}}
$('#chart_container1').highcharts({

  chart: {
  type: 'scatter'
  },
  title: {
    text: 'Distance / Climb'
  },
  xAxis: {
  title: {
    text: 'Climb (metres)'
  }

  },
  yAxis: {
  title: {
    text: 'Distance (km)'
  }
},
series: [{

  data: chartData
  }
]
  });
});
$(function () {
$('#chart_container2').highcharts({
  chart: {
  type: 'pie'
  },
  title: {
    text: 'Race Distance'
  },

  yAxis: {
},

series: [{
        colorByPoint: true,
        data: [{
            name: '1 - 5 km',
            y: 56.33
        }, {
            name: '5 - 10 km',
            y: 24.03,
            // sliced: true,
            // selected: true
        }, {
            name: '10 - 15 km',
            y: 10.38
        }, {
            name: '15 - 20 km',
            y: 4.77
        }, {
            name: '20 -25 km',
            y: 0.91
        }, {
            name: '25 km +',
            y: 0.2
        }]
    }]
  });
});
</script>
</body>
</html>


{% endblock %}
